/* начало общих установок */

@font-face {
  font-family: "OpenSans";
  src: 
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: 
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none; 
}

li {
  list-style: none;
}

/* конец общих установок */

/* начало header */

.page {
  margin-bottom: 60px;
}

.container-logo-menu-header {
  max-width: 1200px;
  padding-top: 27px;
  padding-bottom: 125px;
  padding-left: 17px;
  padding-right: 15px;
  margin: 0px auto;
}

.header {
  position: relative;
  z-index: 0;
  margin-bottom: 60px; 
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  text-align: center;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

.container-logo-menu {
  display: flex;
  margin-bottom: 107px;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  width: 180px;
  height: 40px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0; 
  padding-left: 0;  
}

.menu-list-item {
  margin-left: 35px;
}

.menu-list-item:first-child {
  margin-left: 0px; 
}

.menu-list-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-list-link:hover {
  text-decoration: underline;
}

.title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
  font-size: 45px;
}

/* конец header */

/* начало trends */

.trends-header {
  display: flex;
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size:  20px;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 45px;
  line-height: 0.9;
}

.trends-header::before {
  content: '';
  position: absolute; 
  justify-content: center;
  background-color: #e1d9bd; 
  bottom: -14px;
  width: 66px; 
  height: 3px; 
}

.trends-main {
   display: grid;
   width: 100%;
   min-height: 320px;
   grid-template: repeat(1, 1fr) / repeat(4, 1fr);
   gap: 5px;
}

.trends-blocks {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  padding: 15px 20px;
  background-size: cover;
  background-color: #eff6f1;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  min-height: 245px;
}

.trends-blocks:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

.trends-block1 {
  background-image: url("../images/trend1.jpg");
}

.trends-block2 {
  background-image: url("../images/trend2.jpg");
}

.trends-block3 {
  background-image: url("../images/trend3.jpg");
}

.trends-block4 {
  background-image: url("../images/trend4.jpg");
}

.trends-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 3px solid #b59f5b;
  padding: 5px 30px;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
  vertical-align: text-top;
  margin-bottom: 7px;
}

.trends-item {
  padding-top: 30px;
  margin-left: 20px;
}

.trends-item:first-child {
  margin-left: 0px; 
}

.trends-item-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
}

.trends-item-link:hover {
  text-decoration: underline;
}

.trends-title {
  margin-bottom: 29px;
}

.trends-title-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.trends-title-link:hover {
  color: #b59f5b;
}  

/* конец trends */

/* начало container-main-sidebar */

.main {
  max-width: 793px;
}

.container-main-sidebar {
  display: flex;
  flex-wrap: wrap;
  margin: 64px auto;
  max-width: 1200px;
}

.last-post {
  display: flex;
  margin-top: 60px;
  padding-left: 15px;
}

.last-post:first-child {
  margin-top: 0px; 
}

.last-post-image {
  margin-right: 30px;
  width: 381px;
  background-color: #f4f7f6;
  background-size: cover;
}

.last-post-container {
  width: auto;
}

.last-post-tags-container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: text-top;
  margin-bottom: 7px;
}

.last-post-tags {
  margin-left: 20px;
}

.last-post-tags:first-child {
  margin-left: 0px; 
}

.last-post-tags-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
}

.last-post-tags-link:hover {
  text-decoration: underline;
}

.last-post-title {
  margin-bottom: 29px;
}

.last-post-authors-date-container {
  margin-bottom: 44px;  
}

.last-post-title-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.last-post-title-link:hover {
  color: #b59f5b;
}

.post-date {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.post-date-add {
  display: block;  
  margin-bottom: 6px;
  line-height: 0.8;
}

.last-post-authors {
  display: inline-block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  margin-left: 9px;
}

.last-post-content {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  line-height: 22px;
}

.sidebar {
  width: 287px;
  margin-left: auto;
  padding-right: 16px;
}

.sidebar-posts {
  margin-bottom: 60px;
}

.sidebar-posts-header {
  display: flex;
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 43px;
  line-height: 0.9;
}

.sph-mb {
  margin-bottom: 26px;
}

.sidebar-posts-header::before {
  content: '';
  position: absolute; 
  justify-content: center;
  background-color: #e1d9bd; 
  bottom: -14px;
  width: 66px; 
  height: 3px; 
}

.sidebar-posts-article {
  display: flex;
  margin-top: 22px;
}

.sidebar-posts-article:nth-child(2) {
  margin-top: 0px;
}

.sidebar-img {
  height: 70px;
  width: 70px;
  background-color: #f4f7f6;
}

.img-time-container {
  margin-left: 17px;
}

.sidebar-post-link{
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-post-link:hover {
  color: #b59f5b;
}

.sidebar-post-header {
  line-height: 0.9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.sidebar-search-form {
  margin-bottom: 59px;
}

.search-form {
  display: flex;
  height: 48px;
}

.search-field {
  display: block;
  height: 48px;
  width: 222px;
  padding-left: 18px;
  border: none;
  outline: none;
  appearance: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 40px;
  color: #999999;
  background-color: #f4f7f6; 
}

.search-field:focus {
  border: 1px solid #b59f5b;
  padding-left: 17px;
}

.search-button {
  display: block;
  padding: 24px;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.search-button:hover {
  background-color: #323232;
}

.sidebar-mailing-form {
  position: relative;
  height: 164px;
  margin-bottom: 61px;
}

.mailing-field {
  width: 270px;
  margin-bottom: 17px; 
}

.mailing-button {
  display: block;
  height: 48px;
  width: 270px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  line-height: 30px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.mailing-button:hover {
  background-color: #323232;
}

.aside-tags-list {
  width: 270px;
   margin-bottom: 52px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  display: flex;
  align-items: center;
  border: 3px solid #ededed;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 0px 13px;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

.tags-item-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}

.topic-list-item {
  border-bottom: 1px solid #ededed;
  margin-right: 5px;
  margin-bottom: 6px;
}

.topic-item-link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  line-height: 35px;
}

.topic-item-link:hover {
  color: #b59f5b;
}

sup {
  padding-left: 5px;
  color: #b59f5b;
}

/* конец container-main-sidebar */

/* начало products-container */

.products-container {
  margin: 0 auto 60px;
  max-width: 1170px;
}

.add-prod-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 330px;
}

.product-img {
  display: block;
  background-color: #eff6f1;
  width: 100%;
}

.product-spec {
  border: 3px solid #b59f5b;
  margin-top: -31px;
  padding: 50px 20px 25px;
  flex-grow: 1;
}

.product-title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.product-link {
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.price-button-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.prev-price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.curr-price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #0f0d0e;
}

.to-shop {
  width: 140px;
}

/* конец products-container */

/* начало footer */

.footer {
  height: 170px;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.socials {
  max-width: 1170px;
  height: 83px;
  background-color: #f4f7f6;
  margin: 0 auto;
}

.socials-list {
   display: flex;
  padding: 33px 0 27px;
  justify-content: center;
}

.social-list-item {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 29px;
}

.social-list-item:first-child {
  padding-left: 2px; 
}

.social-list-item:last-child {
  padding-left: 26px; 
}

.social-icon-link {
  display: block;
  padding: 10px;
  background-repeat: no-repeat;
}

.social-icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
} 

.social-icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
  max-width: 1170px;
  padding-top: 70px;
  text-align: center;
}
.copyrights-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #999999;
}

/* конец footer */

/* начало popup */

.popup-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  top: 0px;
}

._hidden {
  display: none;
}

.popup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  width: 390px;
  height: 590px;
  background-color: #ffffff;
}

.close-form {  
  position: absolute;
  top: -1.5em;
  right: 0;  
  width: 1.4em;
  height: 1.4em;
  font-size: 20px;
  background-color: transparent;
  background-image: url("../svg/form-x.svg");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: bottom 5px right 0px;
  border: none;
  cursor: pointer;
}

.form-header {
  font-size: 20px;
}

.form-header::before {
  content: '';
  position: absolute; 
  justify-content: center;
  background-color: #e1d9bd; 
  bottom: -14px;
  width: 66px; 
  height: 3px; 
}

.quiz-descr {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans", "Arial", sans-serif;
}

.quiz {
  height: 48px;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  appearance: none;
  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: bottom 15px right 15px;
  color: rgba(0,0,0,0.5);
}
 
.quiz:focus, .quiz-textarea:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.quiz-textarea:focus {
  padding: 15px 19px 0px;
}

.quiz:focus {
  padding-left: 17px;
}

.quiz-opt {
  color: rgba(0,0,0,0.5);
}

.mail-descr {
  margin-bottom: 5px;
}

.radio-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.radio-checkbox {
  appearance: none;
  height: 17px;
  width: 17px; 
  background-image: url("../svg/form-empty-circle.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  }

.radio-checkbox:checked { 
  background-image: url("../svg/form-circle.svg");
}

.quiz-textarea {
  height: 130px;
  margin-top: 10px;
  padding: 16px 20px 0px;
  border: none; 
  background-color: #f4f7f6;
  resize: none;
}

.send-form-button {
  height: 45px;
  width: 100%;
  margin-top: 25px;
}


/* конец popup */

/* версия для планшета начало*/

@media (max-width: 1200px) { 

  .header {
    /* min-width: 361px; */
    /* width: auto; */
    background-image: url("../images/banner-bg-tablet.jpg");
    margin-bottom: 50px;
  }
  .container-logo-menu {
    margin-bottom: 60px;
  }
  .container-logo-menu-header {
    padding: 20px 35px 113px;
  }

  .container-logo {
    width: 160px;
    height: 35px;
  }

  .menu-list {
    display: none;
  }

  .container-menu {
    cursor: pointer;
    display: block;
    border: none;
    background-image: url("../svg/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    margin: 33px 35px 0 0;
  }

  .title {
    font-size: 40px;
    line-height: 1.4;
  }

  .trends-header {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .trends-main {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 5px;
  }

  .trends-title {
    margin-bottom: 24px;
  }

  .trends-title-link {
    font-size: 17px;
    line-height: 22px;
  }

  .container-main-sidebar {
    flex-wrap: nowrap;
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0px;
  }

  .container-menu {
    margin: 22px 0 35px 0;
  }

  .last-post {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 65px;
  }

  .last-post:not(:last-child)::after {
    content: '';
    position: absolute; 
    justify-content: center;
    background-color: #eeeeee; 
    bottom: -20px;
    width: 100%; 
    height: 3px; 
  }

  .last-post-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .sidebar { 
    margin-left: 38px;
    padding-right: 0;
  }

  .last-post-authors-date-container {
    margin-bottom: 25px;
  }

  .last-post-title-link {
    font-size: 17px;
  }

  .products-container {
    max-width: 770px;
    margin-bottom: 50px;
    padding: 0 35px;
  }

  .prod-header {
    margin-bottom: 45px;
  }

  .product-title {
    font-size: 17px;
  }

  .add-prod-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 20px;
  }

  .footer {
    max-width: 1200px;
    padding: 0px 35px;
  }

  .copyrights {
    padding-top: 45px;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {

  .trends-main {
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }

}

/* версия для планшета конец*/



/* версия для малых экранов начало*/

@media (max-width: 640px) {

  .header {
    max-width: 640px;
    background-image: url("../images/banner-mobile.jpg");
    margin-bottom: 42px;
  }

  .container-logo-menu {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; 
    margin-bottom: 38px;
  }

  .container-logo-menu-header {
    max-width: 640px;
    padding: 30px 15px 210px;
  }

  .container-logo {
    max-width: 270px;
    width: 100%;
    height: auto;
  }

  .container-menu {
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 160px;
  }

  .title {
    font-size: 26px;
  }

  .trends-main {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    gap: 3px;
  }

  .trends-blocks {
    min-height: 230px;
  }

  .trends-header {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .trends-title {
    margin-bottom: 20px;
  }

  .trends-title-link {
    font-size: 16px;
  }

  .trends-text {
    padding: 5px 20px;
  }

  .container-main-sidebar {
    flex-wrap: wrap;
    padding: 0px 15px;
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .br1 {
    display: none;
  }

  .last-post {
    margin-top: 55px;
  }

  .last-post-image {
    width: calc( 100vmin - 30px);
    height: auto;
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .last-post-container {
    width: auto;
  }

  .last-post-title {
    margin-bottom: 15px;
  }

  .last-post-title-link {
    font-size: 16px;
  }

  .last-post-authors-date-container {
    margin-bottom: 10px;
  }

  .last-post-content {
    font-size: 14px;
    line-height: 20px;
  }

  .last-post::after {
    content: '';
    position: absolute; 
    justify-content: center;
    background-color: #eeeeee; 
    bottom: -20px;
    width: 100%; 
    height: 3px; 
  }

  .search-form-label, .mailing-button, .search-field, .aside-tags-list {
    width: 100%;
  }

  .sidebar {
    width: auto;
    margin-left: 0;
    margin-top: 55px;
    padding-right: 0px;
  }

  .sidebar-posts-header {
    font-size: 16px;
  }

  .sidebar-search-form {
    margin-bottom: 45px;
  }

  .sidebar-mailing-form {
    margin-bottom: 50px;
  }

  .aside-tags-list {
    margin-bottom: 35px;
  }
   
  .tags-list-item {
    height: 30px;
    padding: 0 10px;
  }

  .products-container {
    padding: 0px 15px;
    margin-bottom: 40px;
  }

  .add-prod-container {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    justify-items: center;
  }

  .product-title {
    font-size: 18px;
  }

  .product-img2 {
    width: 100%;
    height: 100%;
  }

  .pic-wrap {
    padding: 0 20px;
  }

  .to-shop {
    width: calc(100% - 80px);
    max-width: 140px;
  }
 
  .footer {
    padding: 0px 15px;
  }

}

@media (max-width: 640px) and (orientation: landscape) {

  .trends-main {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }

}

/* версия для малых экранов конец*/


